.navbar__menu {
  background-size: 35px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.navbar__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.navbar {
  flex-shrink: 0;
  background-color: transparent;
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  padding: 20px 0;
}
.navbar__add-dream {
  background-size: 35px;
  background-image: url("../../assets/file_plus.svg");
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border:none;
}

.navbar__menu {
  background-image: url("../../assets/Menu.svg");
  border: none;
}

.navbar__user-profile {
  background-size: 35px;
  background-image: url("../../assets/User.svg");
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.navbar__home{
  background-size: 35px;
  background-image: url("../../assets//bold_logo.svg");
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}



@media screen and (max-width: 768px) {
  .navbar {
    padding: 15px 0;
  }
}
